<div id="confirm-container">
    <h1>Welcome, {{newMember.firstName}}!</h1>
    <h2>Choose Your Alias</h2>
    <p class="aboveInput">As a new <str>cloakroom</str> member, you should pick an <span class="alias">alias</span></p>
    <form name="chooseAlias" novalidate ng-submit="createMember()"><input type="text" name="choice" ng-model="alias" ng-maxlength="16" ng-minlength="5" cloakroom-alias ng-change="status.hideAvailability()" placeholder="how will you be known?" required>
    <span class="availability" ng-show="!chooseAlias.choice.$pristine && showAvailability && chooseAlias.choice.$valid" ng-class="{available:status.isAvailable}">
        <i class="cr-i-alert2" ng-if="!status.isAvailable"></i>
    alias is
        <str>
            {{status.isAvailable ? "available!" : "taken"}}
        </str>
    </span>
    <form-error ng-show="!chooseAlias.choice.$pristine && chooseAlias.choice.$error.minlength">5+ characters, please!</form-error>
    <form-error ng-show="!chooseAlias.choice.$pristine && chooseAlias.choice.$error.maxlength">Less than 16 characters, please!</form-error>
    <form-error ng-show="!chooseAlias.choice.$pristine && chooseAlias.choice.$error.cloakroomAlias && chooseAlias.choice.length > 0">No numbers, spaces or symbols, sorry!</form-error>

    <p class="belowInput">We <str>protect</str> your full name's privacy. <br> It may be useful to share your <str>alias</str> with others.</p>
    <div ng-if="!status.signingUp"><input type="submit" class="button" value="{{Alias.button.message}}" ng-disable="chooseAlias.$invalid" ng-class="{'unfilled':!chooseAlias.choice.$valid || !status.isAvailable, 'ready': Alias.status.isAvailable}"></input></div>
    <mini-loading-bar ng-if="status.signingUp"></mini-loading-bar>
    </form>
</div>
