<div id="apply-container">
    <div ng-hide="Guestlist.nonMemberStepTwo">
            <h1>{{Guestlist.controls.existingApplication.exists ? "Update" : "Guestlist"}} Application</h1>

            <form id="event-apply-form" name="applicationForm" novalidate>

                <div ng-if="!userIsLoggedIn"><h3>Are you a <div class="cloakroom-logo logo-small">Cloakroom</div>member?</h3>

                <input type="radio" id="notmember" name="member" ng-value="false"+ ng-model="Guestlist.userApplication.isMember" ng-change="clickIsMember()"></input><label for="notmember" ng-click="clickIsMember()">No</label>
                <input type="radio" id="ismember" name="member" ng-value="true"+ ng-model="Guestlist.userApplication.isMember" ng-change="clickIsMember()"></input><label for="ismember" ng-click="clickIsMember()">Yes</label>

            <p id="explanation" ng-if="Guestlist.userApplication.isMember === false">
                We will need your name and contact number <br>
                so that <str>{{Guestlist.event.attributes.memberHost.attributes.firstName}}</str> can get in touch.
            </p>
            </div>

            <h3>Bringing Friends?</h3>

            <div class="cr-dropdown male">
                <select name="malePlusOne" id="male" ng-model="Guestlist.userApplication.malePlusOne">
                    <option value=0>+0 Guys</option>
                    <option value=1>+1 Guy</option>
                    <option value=2>+2 Guys</option>
                    <option value=3>+3 Guys</option>
                    <option value=4>+4 Guys</option>
                    <option value=5>+5 Guys</option>
                    <option value=6>+6 Guys</option>
                    <option value=7>+7 Guys</option>
                    <option value=8>+8 Guys</option>
                    <option value=9>+9 Guys</option>
                    <option value=10>+10 Guys</option>
                    <option value=11>+11 Guys</option>
                    <option value=12>+12 Guys</option>
                    <option value=13>+13 Guys</option>
                    <option value=14>+14 Guys</option>
                    <option value=15>+15 Guys</option>
                    <option value=16>+16 Guys</option>
                    <option value=17>+17 Guys</option>
                    <option value=18>+18 Guys</option>
                    <option value=19>+19 Guys</option>
                    <option value=20>+20 Guys</option>
                    <option value=21>+21 Guys</option>
                    <option value=22>+22 Guys</option>
                    <option value=23>+23 Guys</option>
                    <option value=24>+24 Guys</option>
                    <option value=25>+25 Guys</option>
                    <option value=26>+26 Guys</option>
                    <option value=27>+27 Guys</option>
                    <option value=28>+28 Guys</option>
                    <option value=29>+29 Guys</option>
                    <option value=30>+30 Guys</option>
                    <option value=31>+31 Guys</option>
                    <option value=32>+32 Guys</option>
                    <option value=33>+33 Guys</option>
                    <option value=34>+34 Guys</option>
                    <option value=35>+35 Guys</option>
                    <option value=36>+36 Guys</option>
                    <option value=37>+37 Guys</option>
                    <option value=38>+38 Guys</option>
                    <option value=39>+39 Guys</option>
                    <option value=40>+40 Guys</option>
                </select>
                <label for="male-plusones"><i class="cr-i-triangle male"></i></label>
            </div>

            <div class="cr-dropdown female">
                <select name="femalePlusOne" id="female" ng-model="Guestlist.userApplication.femalePlusOne">
                    <option value=0>+0 Girls</option>
                    <option value=1>+1 Girl</option>
                    <option value=2>+2 Girls</option>
                    <option value=3>+3 Girls</option>
                    <option value=4>+4 Girls</option>
                    <option value=5>+5 Girls</option>
                    <option value=6>+6 Girls</option>
                    <option value=7>+7 Girls</option>
                    <option value=8>+8 Girls</option>
                    <option value=9>+9 Girls</option>
                    <option value=10>+10 Girls</option>
                    <option value=11>+11 Girls</option>
                    <option value=12>+12 Girls</option>
                    <option value=13>+13 Girls</option>
                    <option value=14>+14 Girls</option>
                    <option value=15>+15 Girls</option>
                    <option value=16>+16 Girls</option>
                    <option value=17>+17 Girls</option>
                    <option value=18>+18 Girls</option>
                    <option value=19>+19 Girls</option>
                    <option value=20>+20 Girls</option>
                    <option value=21>+21 Girls</option>
                    <option value=22>+22 Girls</option>
                    <option value=23>+23 Girls</option>
                    <option value=24>+24 Girls</option>
                    <option value=25>+25 Girls</option>
                    <option value=26>+26 Girls</option>
                    <option value=27>+27 Girls</option>
                    <option value=28>+28 Girls</option>
                    <option value=29>+29 Girls</option>
                    <option value=30>+30 Girls</option>
                    <option value=31>+31 Girls</option>
                    <option value=32>+32 Girls</option>
                    <option value=33>+33 Girls</option>
                    <option value=34>+34 Girls</option>
                    <option value=35>+35 Girls</option>
                    <option value=36>+36 Girls</option>
                    <option value=37>+37 Girls</option>
                    <option value=38>+38 Girls</option>
                    <option value=39>+39 Girls</option>
                    <option value=40>+40 Girls</option>
                </select>
                <label for="female-plusones"><i class="cr-i-triangle female"></i></label>
            </div>

            <div
                class="button"
                id="cancel-event-application"
                ng-if="Guestlist.controls.existingApplication.exists && !Guestlist.controls.applying"
                ng-click="Guestlist.controls.go.cancelApplication()"
                ng-class="{applying: Guestlist.controls.applying}"
                ng-bind="Guestlist.cancelButtonText">
                    Cancel RSVP
            </div>

            <div class="button"
            id="submit-event-application"
            ng-click="Guestlist.controls.go.submitApplication()"
            ng-class="{invalidApplication:!currentUser.isLogged && !Guestlist.isMemberClicked, applying: Guestlist.controls.applying, solo: !Guestlist.controls.existingApplication.exists || Guestlist.controls.applying}"
            ng-bind="Guestlist.applyButtonText">
                    Apply
            </div>

        </form>

    </div>

    <div ng-if="Guestlist.nonMemberStepTwo">

        <h1>Guest Details</h1>
        <p id="explanation" ng-if="Guestlist.userApplication.isMember === false">
            <str>{{Guestlist.event.attributes.memberHost.attributes.firstName}}</str> may invite you to <str>cloakroom</str>
            <br>

            if {{Guestlist.event.attributes.memberHost.attributes.isFemale ? "she" : "he"}} confirms your place
        </p>

        <form name="nonMember" novalidate>

            <div class="form-group">
                        <input class="form-control" type="text" name="nonMemberName" placeholder="Your Name" name-input ng-model="Guestlist.userApplication.nonMemberName" ng-minlength="3" ng-maxlength="30" ng-required="!Guestlist.userApplication.isMember" ng-pattern="/^[A-Za-z ]+$/">
                        <form-error ng-if="(Guestlist.showErrorFeedback || nonMember.nonMemberNumber.$dirty) && nonMember.nonMemberName.$error.required" class="help-block">Missing Name</form-error>
                        <form-error ng-if="Guestlist.showErrorFeedback && nonMember.nonMemberName.$dirty && nonMember.nonMemberName.$error.pattern" class="help-block">Alphabetical only, please.</form-error>
                        <form-error ng-if="Guestlist.showErrorFeedback && nonMember.nonMemberName.$error.minlength" class="help-block">Minimum length: 3 characters.</form-error>
                        <form-error ng-if="nonMember.nonMemberName.$dirty && nonMember.nonMemberName.$error.maxlength" class="help-block">Maximum length: 30 characters.</form-error>
            </div>

            <div class="form-group">

                <input type="text" class="form-control" name="nonMemberNumber" placeholder="Mobile Number" ng-model="Guestlist.userApplication.nonMemberNumber" ng-required="!Guestlist.userApplication.isMember" ng-minlength="9" ng-maxlength="15" ng-pattern="/^\(?(?:(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?\(?(?:0\)?[\s-]?\(?)?|0)(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}|\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4}|\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3})|\d{5}\)?[\s-]?\d{4,5}|8(?:00[\s-]?11[\s-]?11|45[\s-]?46[\s-]?4\d))(?:(?:[\s-]?(?:x|ext\.?\s?|\#)\d+)?)$/">

                <form-error class="help-block" ng-if="Guestlist.showErrorFeedback && nonMember.$dirty && nonMember.nonMemberNumber.$error.required">Missing Mobile Number</form-error>
                <form-error class="help-block" ng-if="Guestlist.showErrorFeedback && nonMember.nonMemberNumber.$dirty && nonMember.nonMemberNumber.$error.pattern">Invalid Mobile Number</span>
            </div>
        </form>

        <div class="button"
            id="submit-event-application"
            ng-click="Guestlist.controls.go.submitApplication()"
            ng-class="{invalidApplication: nonMember.$invalid, applying: Guestlist.controls.applying, solo: !Guestlist.controls.existingApplication.exists || Guestlist.controls.applying}"
            ng-bind="Guestlist.applyButtonText">
            Apply
        </div>

    </div>
    </div>
</div>
